*{
    padding: 0;
    margin: 0;
}
/* Header style */
.header-content{
    background-color: rgb(35, 35, 35);
    color: white;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.l-img{
    width: 120px;
}
.menus{
    display: flex;
}
.item{
    margin-right: 12px;
    font-size: 18px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}


/* Banner Style  */
.banner-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* border: 3px solid black; */
    background-image: url('images/background.png'), linear-gradient(45deg, rgb(8,8,8), rgb(54,55,54));
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.banner-img{
    width: 350px;
}
.banner-text h1{
    font-size: 54px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}
.banner-text p{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 12px;
    margin-bottom: 12px;
}
.btn{
    padding: 12px;
    font-size: 20px;
    background-color: crimson;
    color: white;
    border: none;
}

/* About us Section  */
.title{
    padding: 35px;
    text-align: center;
    font-size: 54px;
    font-style: initial;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}
.about-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.about-img{
    width: 300px;
}
.about-text-title{
    font-size: 25px;
    font-weight: 700;
    padding: 8px;
}
.about-text-description{
    font-size: 20px;
    padding: 8px;
    margin-bottom: 20px;
}

/* service section  */
.service-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-image: url('images/background.png'),
    linear-gradient(45deg,black,black);
}
.box{
   color: white;
   background-color: black;
   width: 220px;
   height: 280px;
   text-align: center;
   padding: 15px;
   box-shadow: 5px 4px 110px gray ;
   border-radius: 12px;
}
.icon{
    width: 70px;
    color: #2e2e2e;
}
.box-title{
    padding: 10px;
    font-size: 25px;
}
.box-btn{
    padding: 8px;
}
.box p{
    padding: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* footer design  */
